<div class="row heading">
    <p>Education and Activities</p> 
    <hr id="underline">
 </div>
 
 <div class="row discription">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non <br>
         interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
 </div>

 <section class="container">
    <div id="carousel">
      <figure>1</figure>
      <figure>2</figure>
      <figure>3</figure>
      <figure>4</figure>
    </div>
  </section>

  <div class="row title">
    <p>Activity Title</p> 
 </div>

 <div class="row discription">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non <br>
        interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.......</p>
</div>

<div class="row button">
    <a class="btn btn-1">Know More</a>
</div>
<hr>
 