<div class="row bg">
    <div class="col-6 title">About</div>
    <div class="col-6 quote">“  <b>Universal Design</b> - <br>
        coined by American Architect Ronald Mase - is the design of products and <br> 
        environments to be useable by all people, to the greatest extent possible, <br>
        without the need for adaptation “
    </div>
</div>

<div class="row content">
    <div class="col-md-6">
        <h2>Background</h2>
        <h3>
            Committed to produce socially aware architects and planners, 
            the School of Planning and Architecture, Bhopal, explicitly supports social, 
            cultural and environmental sustenance through the disciplines of architecture, 
            planning and design. Supporting its ethos, a multidisciplinary research and 
            design development hub ‘Center for Human Centric Research’ is housed at SPA-Bhopal. 
            The center was established in 2011 at the institute and it practices 
            ‘equity by design’ for inclusion of vulnerable populations like children, women, 
            elderly, social and ethnic minorities, and persons with disabilities since then.

        </h3>
    </div>
    <div class="col-md-6 offset-md-5">
        <h2>Philosophy</h2>
        <h3>
            Objectives of the center are to:<br><br>
·        Bring awareness amongst future architects and planners to respond to the needs of a
 diverse human population otherwise marginalized in the past design practices, for collective 
 socio-economic-cultural development in the country. <br><br>
·        Build a research based body of knowledge with all realms of the ethnographic, 
qualitative and quantitative experimental paradigms, to support human centered design processes. 
        </h3>
    </div>
</div>
<hr>
