<div class="contact-box">
    <div class="blue-logs"></div>

    <div class="row content">

        <div class="col-md-5 title">
            Contact Us

            <div class="row detail">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/phone.svg">
                </div>
                <div class="col-sm-7 entry">
                    +91-123-456-7890<br> 
                    +91-0755-248-713
                </div>
            </div>

            <div class="row detail">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/pin_drop.svg">
    
                </div>
                <div class="col-sm-7 entry">
                    SPA-Bhopal, <br>
                    Madhya Pradesh 462030
                </div>
            </div>

            <div class="row detail">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/mail.svg">
                </div>
                <div class="col-sm-7 entry">
                    www.name@domain.com,<br>
                    www.name@domain.com<br>
                </div>
            </div>

        </div>

        <div class="col-md-7">

            <div class="row social">
                <img src="../../assets/social/linkedin.svg" class="s-icon">
                <img src="../../assets/social/twitter.svg" class="s-icon">
                <img src="../../assets/social/youtube.svg" class="s-icon">
                <img src="../../assets/social/instagram.svg" class="s-icon">
            </div>

        </div>

    </div>
    <div class="row">

    </div>

</div>
