<div class="contact-box">
    <div class="blue-logs"></div>

    <div class="row content">

        <div class="col-md-4 ">
            <h1 class="title" style="font-size: 40px;">Contact Us</h1>

            <div class="row detail" style="margin-top: 80px ;">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/phone.svg">
                </div>
                <div class="col-sm-7 entry">
                    +91-123-456-7890<br> 
                    +91-0755-248-713
                </div>
            </div>

            <div class="row detail">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/pin_drop.svg">
    
                </div>
                <div class="col-sm-7 entry">
                    SPA-Bhopal, <br>
                    Madhya Pradesh 462030
                </div>
            </div>

            <div class="row detail">
                <div class="col-sm-2 icon">
                    <img src="../../assets/icons/mail.svg">
                </div>
                <div class="col-sm-7 entry">
                    www.name@domain.com,<br>
                    www.name@domain.com<br>
                </div>
            </div>

        </div>

        <div class="col-md-7">

            <div class="row social">
                <img src="../../assets/social/linkedin.svg" class="s-icon">
                <img src="../../assets/social/twitter.svg" class="s-icon">
                <img src="../../assets/social/youtube.svg" class="s-icon">
                <img src="../../assets/social/instagram.svg" class="s-icon">
            </div>

            <form class="row form" (ngSubmit)="processForm()" #ContactForm="ngForm" style="margin-top: 50px ;">
                <div class="form-group input--hoshi col-sm-6" >
                    <mat-form-field >
                        <mat-label>Name</mat-label>
                        <input matInput 
                        type="text" 
                        name="name" 
                        placeholder="Name">
                    </mat-form-field>  
                </div>
                <div class="form-group  input--hoshi col-sm-6" >
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput
                        type="email"
                        name="email"
                        placeholder="Email">
                    </mat-form-field> 
                </div>
                <div class="form-group  input--hoshi col-sm-6" >
                    <mat-form-field >
                        <mat-label>Phone</mat-label>
                        <input matInput
                        type="tel"
                        name="phone" 
                        placeholder="Phone">
                    </mat-form-field> 
                </div>
                <div class="form-group  input--hoshi col-12" style="width: 100%;">
                    <mat-form-field >
                        <mat-label>Message</mat-label>
                        <textarea 
                        matInput rows="4"
                        type="text" 
                        name="message" 
                        ></textarea>
                    </mat-form-field> 
                </div>
                <div class="form-group col-sm-12">
                    <div class="align-center" >
                        <button type="submit" class="btn btn-default" [disabled]="!ContactForm.valid">
                          <span class="mask"></span>
                          <span >send message</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <div class="row footer">
        <hr style="background: rgba(0, 0, 0, 0.6); ">
        <img src="../../assets/logo.png" style="width: 200px; height: auto; margin-top: 20px;">
        <h1 class="title" style="text-align: center; opacity: .6;"> Center for Human Centric Research <br> @ SPA Bhopal</h1>

    </div>

</div>
