.blue-logs{
    position: relative;
    top: -23vw;
    display: block;
    height: 23vw;
    background-image: url(../../assets/blue-logs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}
.contact-box{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #515B78 0%, #000000 240.11%);
}

.content{
    position: relative;
    top: -21vw;
    width: 100%;
}

.title{
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
    display: block;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #fff;
}


.detail{
    display: flex;
    margin: 20px;
    margin-top: 50px;
}

.entry{

    text-align: left;
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Roboto";
    padding-left: 20px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 26px;
color: rgba(255, 255, 255, 0.75);
}

.social{
    text-align: right;
    display: block;
   
}

.s-icon{
    margin: 10px;
}

.form{

    text-align: left;
    margin-left: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.6);;
    font-family: Roboto;
    padding-left: 40px;

}

.mat-form-field{
    display: block;
    width: 75%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(173, 173, 173) !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(207, 207, 207) !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  ::ng-deep .mat-form-field-placeholder{

    color: gray;
  }

  .btn{
      color: rgba(255, 255, 255, 0.75);
      background-color: rgba(164, 80, 139, 0.6);
  }

  .footer{
      position: relative;
      top: -150px;
      display: block;
      text-align: center;
      width: 100%;
  }

  @media only screen and (max-width: 990px){

    .social{
        text-align: right;
        display: block;
     
        margin-top: 15%;
    }
.title{
    padding-top: 20px ;
    padding-left: 10px;
}

.footer{
    top: -60px;
}

  }