.heading{
    margin-top: 50px;
    text-align: center;
    display: block;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;

    color: #000000;
}

#underline {
    height: .6rem;
    width: 10%;
    margin: 0 auto;
    background: linear-gradient(90deg, #A4508B 0%, #5F0A87 100%);
    border: none;
    position: relative;
    top: .2rem;
    border-radius: .4rem;
    
  }

  .discription{
      text-align: center;
      display: block;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-top: 30px;
  }

  .logos{
      display: block;
      text-align: center;
  }

  img{
    margin: 10px;
  }

  .award{
      display: inline-block;
      width:120px;
      height:120px;
      background-color: rgb(219, 219, 219);
      border-radius: 20px;
      margin: 50px;
  }
