<div class="row heading">
    <p>Our Partners</p> 
    <hr id="underline">
 </div>
 
 <div class="row discription">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non <br>
         interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
 </div>

<div class="row logos">
<img src="../../assets/partners/part1.png">
<img src="../../assets/partners/part2.png">
<img src="../../assets/partners/part3.png">
<img src="../../assets/partners/part4.png">
<img src="../../assets/partners/part5.png">

</div>

<hr style="width: 50%;">

<div class="row">
    <div class="col-7">

        <div class="row heading" style="margin-top: 100px;">
            Awards
            <hr id="underline">
         </div>
         
         <div class="row discription">
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non <br>
                 interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
         </div>
        
         <div class="row logos">
    
            <a class="col-4 award"></a>
            <a class="col-4 award"></a>
            <a class="col-4 award"></a>
        
        
        </div>

        <hr>

    </div>
    
</div>


