<div class="container-fluid"> <!-- Container -->
    
  <app-header id="home"></app-header>
  <app-navigation></app-navigation>
  <app-intro></app-intro>
  <app-news></app-news>
  <app-about id="about"></app-about>
  <app-team id="team"></app-team>
  <app-education id="education"></app-education>
  <app-projects id="projects"></app-projects>
  <app-publication id="publication"></app-publication>
  <app-partners id="awards"></app-partners>
  <app-contact id="contact"></app-contact>
  
</div> <!-- /Container -->