<nav class="container-fluid" >
    <ul>
        <li class="one"><a href="#home">Home</a></li>
        <li class="two"><a href="#about">About Us</a></li>
        <li class="three"><a href="#education">Education</a></li>
        <li class="four"><a href="#projects">Research</a></li>
        <li class="five"><a href="#">Services</a></li>
        <li class="six"><a href="#publication">Resources</a></li>
        <li class="seven"><a href="#awards">Achievements</a></li>
        <li class="eight"><a href="#contact">Contact</a></li>
        <li><div class="search"></div></li>
        <hr id="underline">
        <hr id="rail">
    </ul>
</nav>
