<nav class="container-fluid" >
    <ul>
        <li class="one"><a href="#home" class="scroll">Home</a></li>
        <li class="two"><a href="#about" class="scroll">About Us</a></li>
        <li class="three"><a href="#education" class="scroll">Education</a></li>
        <li class="four"><a href="#projects" class="scroll">Research</a></li>
        <li class="five"><a href="#" class="scroll">Services</a></li>
        <li class="six"><a href="#publication" class="scroll">Resources</a></li>
        <li class="seven"><a href="#awards" class="scroll">Achievements</a></li>
        <li class="eight"><a href="#contact" class="scroll">Contact</a></li>
        <li><div class="search"></div></li>
        <hr id="underline">
        <hr id="rail">
    </ul>
</nav>
