<nav >
    <ul class="options">
        <li class="one"><a href="#home" class="scroll">Home</a></li>
        <li class="two"><a href="#about" class="scroll">About Us</a></li>
        <li class="three"><a href="#education" class="scroll">Education</a></li>
        <li class="four"><a href="#projects" class="scroll">Research</a></li>
        <li class="five"><a href="#" class="scroll">Services</a></li>
        <li class="six"><a href="#publication" class="scroll">Resources</a></li>
        <li class="seven"><a href="#awards" class="scroll">Achievements</a></li>
        <li class="eight"><a href="#contact" class="scroll">Contact</a></li>
        <li><div class="search"></div></li>
        <hr id="underline">
        <hr id="rail">
    </ul>
  

    <div class="menu-btn" (click)="toggle();"></div>

    <div *ngIf="drop" class="drop" @pull>
        <div (click)="toggle();">

            <span class="row item"><a href="#home" class="scroll">Home</a></span>
            <span class="row item"><a href="#about" class="scroll">About</a></span>
            <span class="row item"><a href="#education" class="scroll">Education</a></span>
            <span class="row item"><a href="#projects" class="scroll">Research</a></span>
            <span class="row item"><a href="#" class="scroll">Services</a></span>
            <span class="row item"><a href="#publication" class="scroll">Resources</a></span>
            <span class="row item"><a href="#awards" class="scroll">Achievements</a></span>
            <span class="row item"><a href="#contact" class="scroll">Contact</a></span>

        
        </div>
    </div> 
</nav>

<div class="menu">

  

</div>
