/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


body{

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    overflow-x: hidden !important;
    margin: 0;
}
html, body { 
    height: 100%;
    scroll-behavior: smooth;
 }

hr{
      
    height: 2px;
    width: 80%;
    background: #C4C4C4;;
    border: none;
    
}
