<div class="row heading">
    <p>Our Team</p> 
    <hr id="underline">
 </div>
 
 <div class="row discription">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non <br>
         interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
 </div>

 <div class="row team">

     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 boxx"></div>
     <div class="col-md-3 " style="height: auto;">
        <div class="row button">
            <a class="btn btn-1">View All</a>
        </div>
     </div>


 </div>
 <hr>
